<div class="rounded d-flex">
    <div class="rounded-start wheat-label w-100 h-100"> @name </div>
    <button class="rounded-end cancel-button w-100 h-100"> 
        <img src="images/trash-can-icon.svg" width="25" height="25" alt="Del">
    </button>
</div>


@code{
    [Parameter]
    public string name { get; set; } = string.Empty;

}