@inject NavigationManager Navigation

<button class="btn btn-outline-success text-dark focus-ring focus-ring-dark mx-auto w-100 border-3" @onclick=SetCreateCollection>+</button>

@code{
    [Parameter]
    public EventCallback<Type> OnClickCallback {get; set;}

    [Parameter]
    public bool LoggedIn {get; set;}

    public async Task SetCreateCollection()
    {
        if(LoggedIn){
            await OnClickCallback.InvokeAsync(typeof(CreatingCollectionComponent));
        }
        else{
            Navigation.NavigateTo("login");
        }
    }
}