<div >     
    <EditForm Model="@modelo" OnValidSubmit="@SaveCollection" class="needs-validation"> 
        <DataAnnotationsValidator />
        <InputText type="text" class="form-control w-100" required  placeholder="Collection Name" @bind-Value="modelo.Nombre" />
        <div class="d-flex justify-content-center mt-2 px-2">
            <div class="w-75">
                <button class="w-75 btn btn-danger" @onclick="CancelCollection">
                    Cancel
                </button>
            </div>
            <div class="w-75">
                <button type="submit" class="w-75 btn btn-primary">
                    Save
                </button>
            </div>
        </div>
    </EditForm>   
</div>

@code{

    [Parameter]
    public EventCallback<Type> OnClickCallback {get; set;}
    private async void SaveCollection(){
        await OnClickCallback.InvokeAsync(typeof(CreateCollectionButton));
    }

    private async void CancelCollection(){
        await OnClickCallback.InvokeAsync(typeof(CreateCollectionButton));
    }
    private Modelo modelo = new Modelo();
    public class Modelo
    {
        public string Nombre { get; set; } = string.Empty;
    }
}