<div class="text-center mx-auto" >     
    <EditForm Model="@model" OnValidSubmit="@SaveCollection" class="needs-validation"> 
        <DataAnnotationsValidator />
        <InputText type="text" class="form-control w-100 mb-2" required  placeholder="Collection Name" @bind-Value="model.Name" />
        <div class="d-flex justify-content-between">
            <div class="w-75">
                <button class="w-75 rounded cancel-button mx-3" @onclick="CancelCollection">
                    Cancel
                </button>
            </div>
            <div class="w-75">
                <button type="submit" class="w-75 rounded add-button mx-3">
                    Save
                </button>
            </div>
        </div>
    </EditForm>   
</div>

@code{
    [Inject] 
    private HttpClient Http { get; set; } = default!;
    [Parameter]
    public EventCallback<Type> OnClickCallback {get; set;}
    [Parameter]
    public EventCallback<string> CreateCollectionCallback {get; set;}
    private Model model = new Model();
    private async void SaveCollection(){
        await CreateCollection(model.Name);
        await OnClickCallback.InvokeAsync(typeof(CreateCollectionButton));
    }
    private async void CancelCollection(){
        await OnClickCallback.InvokeAsync(typeof(CreateCollectionButton));
    }
    private async Task CreateCollection(string name){
        await CreateCollectionCallback.InvokeAsync(name);
    }
    private class Model
    {
        public string Name { get; set; } = string.Empty;
    }
}