@using System.Threading.Tasks
@inject NavigationManager Navigation

@if(!CreatingCollection){
    <button class="rounded add-button mx-auto w-50" @onclick=SetCreatingCollection>New Collection</button>
}
else{
    <div class="text-center mx-auto w-50">     
        <EditForm Model="@model" OnValidSubmit="@CreateCollection" class="needs-validation"> 
            <DataAnnotationsValidator />
            <InputText type="text" class="rounded w-100 fs-5 fw-bold p-3 border-none" required  placeholder="Collection Name" @bind-Value="model.Name"  @onkeydown="EnterPressed"/>
            <div class="d-flex justify-content-center gap-2 mt-2">
                <button class="d-flex justify-content-center align-items-center rounded cancel-button mx-3" style="width: 150px; height: 60px;" @onclick="CloseCreatingCollection">
                    Cancel
                </button>
                <button type="submit" class="d-flex justify-content-center align-items-center rounded add-button mx-3" style="width: 150px; height: 60px;">
                    Save
                </button>
            </div>
        </EditForm>   
    </div>
}

@code{
    private class Model
    {
        public string Name { get; set; } = string.Empty;
    }

    [Parameter]
    public bool LoggedIn {get; set;}
    [Parameter]
    public EventCallback<string> CreateCollectionCallback {get; set;}
    public bool CreatingCollection = false;
    private Model model = new Model();
    public void SetCreatingCollection()
    {
        if(LoggedIn){
            CreatingCollection = true;
            StateHasChanged();
        }
        else{
            Navigation.NavigateTo("login");
        }
    }
    private async Task CreateCollection(){
        await CreateCollectionCallback.InvokeAsync(model.Name);
        CloseCreatingCollection();
    }
    private void CloseCreatingCollection(){
        model.Name=string.Empty; 
        CreatingCollection = false;
        StateHasChanged();
    }
    private async Task EnterPressed(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && model.Name!=null && model.Name!=string.Empty)
        {
            await CreateCollection();
        }
    }
}