<div class="modal fade @ModalShow" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-dialog-centered">
            <div class="modal-header mx-auto">
                <h5 class="modal-title text-danger text-center" id="exampleModalLabel">Confirm Delete?</h5>
            </div>
            <div class="modal-footer d-flex justify-content-around">
                <button type="button" class="btn btn-secondary" @onclick="ToggleModal">Cancel</button>
                <button type="button" class="btn btn-primary" @onclick="ConfirmDelete">Confirm</button>
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public EventCallback ConfirmDeleteCallback {get; set;}
    private string ModalShow => show ? "show d-block" : "";
    private bool show = false;

    public void ToggleModal(){
        show = !show;
        StateHasChanged();
    }
    private async Task ConfirmDelete(){
        await ConfirmDeleteCallback.InvokeAsync();
        ToggleModal();
        StateHasChanged();
    }
}