@using BlazorApp.Components.Services
@using BlazorApp.Model
@using System.Net.Http.Headers
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject IBibleApiService BibleApiService

<div class="container">
    <div class="row row-cols row-cols-2-md row-cols-3-lg p-3 g-3">
        @foreach (var collection in collections)
        {
            <div class="col d-flex justify-content-between">
                <button class="border p-5 rounded-3 underline-on-hover w-100 h-100" @onclick="()=>NavigateToCollection(collection.name)">
                    @collection.name
                </button>
                <div class="d-flex gap-2">
                    <button class="btn btn-danger-hover d-flex align-items-center p-3 m-3" @onclick="() => DeleteCollection(collection)">
                        <img src="images/trash-can-icon.svg" width="16" height="16" alt="Eliminar">
                    </button>
                </div>
            </div>
        }
    </div>
</div>

<DeleteConfirmationComponent @ref="DeleteRef" ConfirmDeleteCallback="ConfirmDelete"></DeleteConfirmationComponent>

<NotificationComponent @ref="NotificationRef"></NotificationComponent>
@code{

    [Inject] 
    private HttpClient Http { get; set; } = default!;

    [Parameter]
    public List<Collection> collections { get; set; } = new();
    private string collectionToDelete = String.Empty;
    private DeleteConfirmationComponent? DeleteRef;
    private NotificationComponent? NotificationRef;

    private void DeleteCollection(Collection collection)
    {
        collectionToDelete = collection.name;
        DeleteRef?.ToggleModal();
    }
    private async void ConfirmDelete()
    {
        bool deletedCollection = await DeleteCollectionRequest(collectionToDelete);
        if(deletedCollection){
            collections.Remove(collections.FirstOrDefault(c => c.name == collectionToDelete)!);
            StateHasChanged();
        }
    }
    private async Task<bool> DeleteCollectionRequest(string name){
        var token = await localStorage.GetItemAsync<string>("jwtToken");
        bool toReturn = false;
        if(token!=null){
            toReturn = await BibleApiService.DeleteCollectionAsync(token, name);

        }
        NotificationRef?.notifyCollectionElimination(toReturn);
        return toReturn;
    }
    private void NavigateToCollection(string name){
        Navigation.NavigateTo("/collection/"+name);
    }
}