@using static BlazorApp.Components.Pages.Home

<button @onclick="OnClick" class="rounded book-button w-100 h-100" >@text</button>

@code{
    [Parameter]
    public string text {get; set;} = "";

    [Parameter] 
    public EventCallback OnClick { get; set; }
}