.book-button{
    font-weight: bold;
    font-size: x-large;
    padding: 5px;
    color: wheat;
    background-color: black;
    transition: background-color 0.7s ease, color 0.7s ease;
    margin-top: auto;
    margin-bottom: auto;
}

.book-button:hover{
    color: black;
    background-color: wheat;
}