@inherits LayoutComponentBase
@using System.IdentityModel.Tokens.Jwt;
@using BlazorApp.Components.Layout.Components
@using BlazorApp.Components.Services
@using BlazorApp.Model
@inject TokenState TokenState
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject IBibleApiService BibleApiService

<div class="page">
    @if(expand){
        <nav class="d-flex flex-column flex-shrink-0 text-white bg-dark w-md-25 sidebar">
            <div class="@NavBarClasses" id="navbarNavDropdown">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn-close btn-close-white" aria-label="Close" @onclick="ToggleNav"></button>
                </div>
                <NavMenu />
                <hr>
                <DynamicComponent Type="selectedComponent.Type" Parameters="selectedComponent.Parameters" />
            </div>
        </nav>
    }
    <main class="w-100 background-soft-yellow min-vh-100 ">
        <div class="d-flex justify-content-between background-black align-items-center py-2 " style="padding-left: 10px; padding-right: 10px;"> 
            <div class="" style="width: 200px;">
                @if(!expand){
                    <button class="rounded wheat-button" style="width: 75px;" @onclick="ToggleNav">
                        <img src="images/hamburger-button.png" width="30" height="30" alt="Eliminar">
                    </button>
                }
            </div>
            <LanguageDropDown></LanguageDropDown>
            <div class="text-center" style="width: 200px;">
                <a class="rounded wheat-button underline-on-hover" href="http://localhost:8080/swagger/index.html" target="_blank">API Doc</a>
            </div>
        </div>

        <div class="mb-3 mt-3">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code{
    private bool expand;
    private string NavBarClasses => expand ? "navbar-collapse" : "collapse navbar-collapse";
    private ComponentMetadata selectedComponent {get; set;} = notLoggedComponent;
    private static ComponentMetadata notLoggedComponent = new ComponentMetadata()
            {
                Type = typeof(NotLoggedComponent),
                Name = "Creating Collection"
            };

    private void ToggleNav(){
        expand = !expand;
    }
    private async Task Logout()
    {
        await localStorage.RemoveItemAsync("jwtToken");
        selectedComponent = notLoggedComponent;
        Navigation.NavigateTo("");
    }

    private void SetUserName(string? token)
    {
        if(!string.IsNullOrEmpty(token)){
            var handler = new JwtSecurityTokenHandler();
            var jwtToken = handler.ReadJwtToken(token);
            var nameClaim = jwtToken.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name");
            var userName = nameClaim?.Value ?? "";
            selectedComponent = GetLoggedComponent(userName);
        }
        else{
            selectedComponent = notLoggedComponent;
        }
        InvokeAsync(StateHasChanged);
    }

    private ComponentMetadata GetLoggedComponent(string userName){
        return new ComponentMetadata()
            {
                Type = typeof(LoggedComponent),
                Name = "Create Collection Button",
                Parameters = { 
                    [nameof(LoggedComponent.OnClickCallback)] = EventCallback.Factory.Create(this, Logout),
                    [nameof(LoggedComponent.UserName)] = userName         
                }
            };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender){
            var token = await localStorage.GetItemAsync<string>("jwtToken");
            if(token!=null){
                var logged = await BibleApiService.GetValidToken(token);
                if(!logged){
                    token = null;
                }
            }
            SetUserName(token);
        }
    }
    protected override void OnInitialized()
    {
        TokenState.OnChange += ()=> SetUserName(TokenState.Token);
    }
    public void Dispose()
    {
        TokenState.OnChange -= ()=> SetUserName(TokenState.Token);
    }
}