input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: black !important;
    transition: background-color 5000s ease-in-out 0s;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.underline-on-hover:hover {
    text-decoration: underline; 
}

.add-button {
    font-weight: bolder;
    font-size: x-large;
    color: rgb(240, 237, 233);
    background-color: rgb(0, 255, 0);
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 25px;
    padding-right: 25px;
    height: 50px;

    overflow: hidden;
    transition: 
        background-color 0.7s ease,
        color 0.7s ease;
}

.add-button:hover{
    background-color: rgb(3, 92, 3);
}

.cancel-button {
    font-weight: bolder;
    font-size: x-large;
    color: rgb(240, 237, 233);
    background-color: rgb(255, 0, 0);
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 25px;
    padding-right: 25px;
    height: 50px;

    overflow: hidden;
    transition: 
        background-color 0.7s ease,
        color 0.7s ease;
}

.cancel-button:hover{
    background-color: rgb(92, 3, 3);
}

.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.border-none{
    border: none;
}

.border-none,
.border-none:focus,
.border-none:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.wheat-button{
    font-weight: bold;
    font-size: x-large;
    border-radius: 8px;
    outline: none !important;
    width: 100%;
    padding: 5px;
    color: wheat;
    background-color: black;
    transition: background-color 0.7s ease, color 0.7s ease;
    margin-top: auto;
    margin-bottom: auto;
}

.wheat-button:hover{
    color: black;
    background-color: wheat;
}

.wheat-label{
    font-weight: bolder;
    font-size: xx-large;
    text-decoration: underline;
    border-radius: 8px;
    cursor: default;
    color: wheat;
    width: fit-content;
    background-color: black;
    margin-top: auto;
    margin-bottom: auto;
}

.background-black{
    background-color: black;
}

.dropdown-custom{
    position: absolute;
    border: none;
    background-color: rgb(248, 233, 185);
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(5, 1fr);
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    padding: 5px;
}