.fixed-box {
  position: fixed;
  width: 150px;
  bottom: 20px;   /* distancia desde abajo */
  right: 20px;    /* distancia desde la derecha */
  z-index: 1000;  /* por si se superpone con otros elementos */
}

.notification-success{
    font-size: large;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    background-color: rgb(5, 184, 5);
    border-radius: 5%;
}

.notification-error{
    font-size: large;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    background-color: rgb(245, 5, 5);
    border-radius: 5%;
}