.fixed-box {
  position: fixed;
  width: 350px;
  bottom: 20px;   /* distancia desde abajo */
  right: 20px;    /* distancia desde la derecha */
  z-index: 1000;  /* por si se superpone con otros elementos */
}

.notification-success{
    cursor: pointer;
    font-size: large;
    padding: 10px;
    margin: 10px;
    background-color: rgb(5, 184, 5);
    border-radius: 8px;
    animation: right-transition 0.15s linear;
}

.notification-error{
    cursor: pointer;
    font-size: large;
    padding: 10px;
    margin: 10px;
    background-color: rgb(245, 5, 5);
    border-radius: 8px;
    animation: right-transition 0.15s linear;
}

@keyframes right-transition {
    from{
        transform: translateX(150px);
    }
    to{
        transform: translateX(0px);
    }
    
}