@using BlazorApp.Components.Services
@using BlazorApp.Model
@inject IBibleApiService BibleApiService
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="px-5">
    @foreach(string chapter in ChapterVerseDictionary.Keys){
        <pre class="fs-5 fw-bold text-center background-light-grey p-3 rounded shadow w-full m-0" style="white-space: pre-wrap; word-wrap: break-word;">
            @chapter
        </pre>
        <hr>
        <div class="my-2 background-light-grey rounded shadow">
            @foreach(Verse verse in ChapterVerseDictionary[chapter]){
                @if (IsLoggedIn && selectedVerse == verse)
                    {
                        <hr>
                    }
                <div class="d-flex justify-content-between">
                    <pre @onclick:stopPropagation class="underline-on-hover fs-5 fw-light text-start p-3 w-full" style="white-space: pre-wrap; word-wrap: break-word;" @onclick="() => VerseSelected(verse)">
                        @PrintVerse(verse)
                    </pre>
                    
                </div>
                <div class="px-3 dropdown-menu-custom @(selectedVerse==verse ? "show" : "")">
                    <div class="text-center">
                        @foreach(Collection collection in collections){
                            <hr>
                            <div class="d-flex justify-content-between px-3">
                                <span class="fs-5 fw-bold my-auto">@collection.name</span>
                                <button class="rounded add-button mx-3" @onclick="() => SaveVerseToCollection(collection.name)">
                                    +
                                </button>
                            </div>  
                        }
                        <hr>
                        <button class="rounded add-button" @onclick="() => CreateCollection()">New Collection</button>
                    </div>
                </div>
                
                @if (IsLoggedIn && selectedVerse == verse)
                    {
                        <hr>
                    }
            } 
        </div>
    }
</div>

@code{
    [Parameter]
    public List<Verse> verses { get; set; } = new();
    private Dictionary<string, List<Verse>> ChapterVerseDictionary = new Dictionary<string, List<Verse>>();
    private Verse? selectedVerse;
    private bool IsLoggedIn = false;
    private List<Collection> collections = new();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender){
            SetChapters();
            await SetSession();
            StateHasChanged();
        }
    }
    private void SetChapters(){
        foreach(var verse in verses){
            var chapter = verse.bookId+" "+verse.chapter;
            if (!ChapterVerseDictionary.ContainsKey(chapter))
            {
                ChapterVerseDictionary[chapter] = new List<Verse>();
            }
            ChapterVerseDictionary[chapter].Add(verse);
        }
    }
    private async Task SetSession(){
        var token = await localStorage.GetItemAsync<string>("jwtToken");
        if(token!=null){
            IsLoggedIn = true;
            collections = await BibleApiService.GetCollectionsAsync(token) ?? new();
        }
    }

    private void VerseSelected(Verse verse){
        if(selectedVerse == verse){
            selectedVerse = null;
        }
        else{
            selectedVerse = verse;
        }
    }

    private string PrintVerse(Verse verse){
        string text="";
        text+=ToSuperscript(verse.vrs)+" ";
        text+=verse.text;
        return text;
    }
    private static string ToSuperscript(int number)
    {
        var superscriptDigits = new Dictionary<char, char>
        {
            { '0', '⁰' }, { '1', '¹' }, { '2', '²' }, { '3', '³' }, { '4', '⁴' },
            { '5', '⁵' }, { '6', '⁶' }, { '7', '⁷' }, { '8', '⁸' }, { '9', '⁹' }
        };

        return new string(number.ToString().Select(d => superscriptDigits[d]).ToArray());
    }
    private async void SaveVerseToCollection(string name){
        var token = await localStorage.GetItemAsync<string>("jwtToken");
        Console.WriteLine($"Saving verse {selectedVerse.bookId} {selectedVerse.chapter}:{selectedVerse.vrs} to collection {name}");
        if(token!=null){
            await BibleApiService.PostVerseToCollectionAsync(token, name, selectedVerse);
        }
    }
    private void CreateCollection(){
        Console.WriteLine("Create Collection");
    }

}