.dropdown-menu-custom {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 5px;
    margin: 0;
    z-index: 1000;
    max-width: fit-content;
}
.dropdown-menu-custom li {
    padding: 8px;
    cursor: pointer;
}
.dropdown-menu-custom li:hover {
    background: #f0f0f0;
}

.add-button{
    height: 50px;
    font-weight:bolder;
    font-size: x-large;
    padding-top: 20px;
    padding-bottom: 20px;
    color: wheat;
    background-color: black;
    transition: background-color 0.7s ease, color 0.7s ease, max-width 1.8s ease-in-out, padding 0.6s ease-in-out;
    max-width: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.add-button:hover{
    color: black;
    background-color: wheat;
}

.add-button.show {
  max-width: 2000px;
  padding-left: 20px; 
  padding-right: 20px;
}