.dropdown-menu-custom {
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    overflow: hidden;
    transition: 
        max-height 1.4s ease-in-out,
        padding 0.4s ease-in-out;
}

.dropdown-menu-custom.show {
    max-height: 2000px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}