@using BlazorApp.Model
@inject TokenState TokenState
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="d-flex gap-3 justify-content-center align-items-center">
    <div class="wheat-label">Translation: </div>
    <div class="dropdown my-auto">
        <button class="rounded wheat-button dropdown-toggle" @onclick=ToggleDropdown>
            @selectedLanguage
        </button>
        @if(show){
            <div class="text-center language-dropdown p-2">
                @foreach(var lan in languages){
                    <div class="wheat-button text-center" styles="width: 100px;" @onclick="() => SetSelectedLanguage(lan)">@lan</div>
                }
            </div>
        }
    </div>
</div>

@code{
    private bool show;
    private string selectedLanguage = languages[0];
    private static string [] languages = {"kjv", "BES"};
    private void ToggleDropdown(){
        show = !show;
    }
    private async void SetSelectedLanguage(string lan){
        await localStorage.SetItemAsync("language", lan);
        ToggleDropdown();
        SetLanguage(lan);
    }

    private async Task LoadLanguage(){
        var language = await localStorage.GetItemAsync<string>("language");
        if(language!=null){
            SetLanguage(language);
        }
        else{
            SetLanguage(selectedLanguage);
        }
    }

    private void SetLanguage(string lan){
        TokenState.SetLanguage(lan);
        selectedLanguage = lan;
        show = false;
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender){
            await LoadLanguage();
        }

    }

}