<div class="d-flex flex-column px-au">
    <div class="col mx-auto px-auto">
        <div class="row mx-auto my-3">
            Hello, @UserName
        </div>

        <div class="text-center my-3">
            <button class="btn btn-primary" @onclick="Logout">
                Log Out
            </button>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public EventCallback OnClickCallback {get; set;}

    [Parameter]
    public string UserName {get; set;} = "";
    public async Task Logout()
    {
        await OnClickCallback.InvokeAsync();
    }
}