@page "/collections"
@rendermode InteractiveServer
@using BlazorApp.Components.Pages.CollectionsComponents
@using BlazorApp.Components.Services
@using BlazorApp.Model
@using BlazorApp.model
@using System.Net.Http.Headers
@inject TokenState TokenState
@inject IBibleApiService BibleApiService
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="text-center px-5 mt-5">
    <div class="wheat-label mb-5 mx-auto p-3">Collections</div>

    <CreatingCollectionComponent LoggedIn=@loggedIn CreateCollectionCallback="CreateCollection"></CreatingCollectionComponent>

    <DynamicComponent Type="renderedCollections.Type"
                Parameters="renderedCollections.Parameters" />
</div>

<NotificationComponent @ref="NotificationRef"></NotificationComponent>
@code{
    private string? token;
    private bool loggedIn = false;
    private List<Collection>? collections;
    private ComponentMetadata renderedCollections {get;set;} = new ComponentMetadata()
            {
                Type = typeof(CollectionsNotFound),
                Name = "Log in to see or create collections"
            };
    private NotificationComponent? NotificationRef;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender){
            token = await localStorage.GetItemAsync<string>("jwtToken");
            loggedIn = !string.IsNullOrEmpty(token);
            await FetchCollections();
        }
    }
    private async Task CreateCollection(string name){
        var token = await localStorage.GetItemAsync<string>("jwtToken");
        Collection? collection = null;
        if(token!=null){
            collection = await BibleApiService.PostCollectionAsync(token, name);
            if(collection!=null){
                collections?.Add(collection);
            }
        }
        NotificationRef?.notifyCreation(collection!=null);
        StateHasChanged();
    }
    private async Task FetchCollections(){
        var token = await localStorage.GetItemAsync<string>("jwtToken");
        if(token!=null){
                collections = await BibleApiService.GetCollectionsAsync(token);
                if(collections!=null){
                    renderedCollections = new ComponentMetadata()
                    {
                        Type = typeof(UserCollections),
                        Name = "User Collections",
                        Parameters = { [nameof(UserCollections.collections)] = collections }
                    };
                }
        }
        StateHasChanged(); 
    }
}